.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/homework_matrix.sln
build/homework_matrix.vcxproj
build/homework_matrix.vcxproj.filters
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/PACKAGE.vcxproj
build/PACKAGE.vcxproj.filters
build/version.h
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.25.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.25.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.25.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.25.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.25.0-rc1/VCTargetsPath.txt
build/CMakeFiles/3.25.0-rc1/VCTargetsPath.vcxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.25.0-rc1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.25.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.25.0-rc1/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.25.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/d1379c1f5c1387b7a1c2836989d3fdf9/generate.stamp.rule
build/CMakeFiles/d1379c1f5c1387b7a1c2836989d3fdf9/INSTALL_force.rule
build/CMakeFiles/d1379c1f5c1387b7a1c2836989d3fdf9/PACKAGE_force.rule
build/Debug/homework_matrix.exe
build/Debug/homework_matrix.pdb
build/homework_matrix.dir/Debug/homework_matrix.exe.recipe
build/homework_matrix.dir/Debug/homework_matrix.ilk
build/homework_matrix.dir/Debug/main.obj
build/homework_matrix.dir/Debug/vc143.pdb
build/homework_matrix.dir/Debug/homework_matrix.tlog/CL.command.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/CL.read.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/CL.write.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/CustomBuild.command.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/CustomBuild.read.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/CustomBuild.write.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/homework_matrix.lastbuildstate
build/homework_matrix.dir/Debug/homework_matrix.tlog/link.command.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/link.read.1.tlog
build/homework_matrix.dir/Debug/homework_matrix.tlog/link.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
